IPFS_GATEWAY=https://api.universalprofile.cloud/ipfs/
LUKSO_RPC_RPC_URL=https://rpc.testnet.lukso.gateway.fm

NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000
NEXT_PUBLIC_LUKSO_RPC_URL=https://rpc.l14.lukso.network
NEXT_PUBLIC_LUKSO_EXPLORER_URL=https://blockscout.com/lukso/l14
NEXT_PUBLIC_EARTH_SANDWICH_CONTRACT_ADDRESS=0x1e9f22a508CBFb05a7E2ff4A1c747e1293D03e26
